@page "/"

<h1>Leap of fate 2018</h1>
<ul>
    <li>Olli Asikainen</li>
    <li>Tuomo Viljanmaa</li>
</ul>

<h2>Purpose</h2>
<p>We wanted to present tools for creating wrapper classes from typescript to be used with Blazor to call JS libraries</p>

<h2>Outcome</h2>

<p>Working demo using ChartistJS</p>

<h2>Thoughts</h2>
<p>
    Initial plan was to produce highly usable C# wrapper(s) for calling bootstrap (and jQuery) directly from Blazor code thus reducing the need to write any Javascript.
</p>
<p>
    The mono project had a promising start for a Typescript-into-C#-converter (mono/TsToCSharp) and so we took the challenge of hacking it into making us hopefully usable wrappers.
</p>
<p>
    The tool worked but turned out to be too early in development to produce us good enough code. The tool was also a "single pass", single file converter, which means any dependencies to other definitions (such as HTMLElement, Event, etc.) cannot be resolved and being single pass, it does not know the they are not defined.
</p>
<p>
    We also had too high hopes about interfacing with Blazor. We still had to write Javascript, as Blazor requires that any Javascript access by Blazor must be through "registered functions"

</p>
<p>
    In the end we wrote a simple, limited Typescript definition file for a rather easily interfaceable Javascript library (Chartist.js) and used our hacked converter for producing the C# interfaces. Then we implemented a simple bridge for the C#-Javascript interoperation after which we were able to execute Javascript in the Razor template.
</p>
<p>
    <h1>Links</h1>
<p>
    tool for creating the interfaces from typescript

</p>
<p>
    https://github.com/0x0aa/TsToCSharp/tree/hacking
</p>
<p>
    Demo projects
</p>
<p>
    https://github.com/Tviljan/LoF2018/tree/master/Demo
</p>

