@page "/"

<h1>Leap of fate 2018</h1>
<ul>
    <li>Olli Asikainen</li>
    <li>Tuomo Viljanmaa</li>
</ul>

<h2>Purpose</h2>
<p>We wanted to present tools for creating wrapper classes from typescript to be used with Blazor to call JS libraries</p>

<h2>Outcome</h2>

<p>Working demo using ChartistJS</p>

<h2>Thoughts</h2>

<p>Really experimental and incomplete. Anything more complex than this can't be done (at least withouth way too much work)</p>

<h1>Links</h1>
<p>
    tool for creating the interfaces from typescript

</p>
<p>
    https://github.com/0x0aa/TsToCSharp/tree/hacking
</p>
<p>
    Demo projects
</p>
<p>

</p>